// 1. Import the initial variables
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

$cello: #37495c;
$cello-invert: #fff;
$primary: $cello;
$primary-invert: $cello-invert;

//@import "~bulma/sass/utilities/derived-variables";
//$addColors: (
//  "twitter":($twitter, $twitter-invert),
//  "linkedin": ($linkedin, $linkedin-invert),
//  "github": ($github, $github-invert)
//);
//$colors: map-merge($colors, $addColors);

// 6. Import the rest of Bulma
@import '~bulma/bulma';
@import '~@creativebulma/bulma-tooltip';

.tag:not(body) {
  &.is-outlined {
    background-color: transparent;
    border: 1px solid $light;
  }
}

.__nuxt-error-page {
  top: 60px;
}

/* printing */
.printable-mode #header {
  display: none;
}
.printable-mode .section {
  padding: 10px;
}
